*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/img/fundoMain.jpeg);
    background-color: #2831D6;
}

header{
    width: 100%;
    height: 100px;
    background-color: #2831D6;
}

.logo{
    display: block;
    width: 800px;
    margin: auto;
}
main{
    position: absolute;
    background-size: 100%;
    height: calc(100vh - 100px);
}
.text-sub{
    background-color:#2831D6;
}
.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    height: 200px;

}
.info{
    display: flex;
    margin-left: 200px;
    align-items: center;
    justify-content: center;
}
.perfil{
    background-color: aliceblue;
    width: 180px;
    margin-right: 30px;
    height: 180px;
    border-radius: 50%;
    box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.52);
}
.perfil img{

}

.dados{
    background-color: antiquewhite;
    width: 350px;
    height: auto;
    border-radius: 20px;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.orcamento{
    background-image: url(assets/img/fundoHeader.jpeg);
    background-color: #2831D6;
    width: 500px;
    height: 150px;
    border-radius: 30px 0 0 30px;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sub-orcamento{
    background-color: #2831D6;
    width: 490px;
    height: 130px;
    border-radius: 20px 0 0 20px;
    border: 2px solid black;
    margin: 10px 0;

    
}

.lateral{
    max-width: 300px;
    height: 100px;
    background-color: #2831D6;
}
.artes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 80px;
}

.left{
    background-color: #2831D6;
    width: 15%;
    height: 150px;
    border-radius: 0 20px  20px 0 ;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.publicacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
    width: 60%;
    height: 150px;
    border-radius: 30px;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.publicacao div{
    width: 130px;
    height: 130px;
    margin: 10px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}
.right{
    background-color: #2831D6;
    width: 15%;
    height: 150px;
    border-radius: 20px 0  0 20px;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
}

@media (max-width:500px) {
    .header{
      height: 80px;
    }
    .logo{
        width:100%;
        padding: 10px;
        height: 400px;
        object-fit: cover;
        display: block;
    }
    main{
        height: calc(100vh- 80px);
    }
    .sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;

    }
    .perfil{
        margin-right: 0;
        margin-top: 30px;
        margin-bottom: 30px;
        height: 150px;
        width: 150px;
    }
    .orcamento{
        height: 150px;
        border-radius: 30px 0 0 30px;
        width: 90%;
        border-radius: 30px;
        margin-top: 20px;
        justify-content: center;
    }
    .sub-orcamento{
        width: 90%;
        border-radius: 30px;
    }
    .artes{
        flex-direction: column;
        margin-top: 30px;
    }
    .left{
        margin-top: 30px;
        width: 50%;
        align-self: flex-start;
    }
    .publicacao{
        margin: 20px;
    }
    .right{
        margin-top: 30px;
        width: 50%;
        align-self: flex-end;
        margin-bottom: 30px;
    }
    .publicacao{
        flex-direction: column;
    }
}

