*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(assets/img/fundoMain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2831D6;
    height: calc(100vh - 6.25rem);
}

header{
    width: 100%;
    height: 6.25rem;
    background-image: url(assets/img/fundoHeader.jpeg);
    background-color: #2831D6;
}

.logo{
    display: block;
    width: 50rem;
    margin: auto;
}
main{

}

.text-sub{
    background-color:#2831D6;
}
.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    height: 12.5rem;

}
.info{
    display: flex;
    margin-left: 12.5rem;
    align-items: center;
    justify-content: center;
}
.perfil{
    background-color: rgb(255, 255, 255);
    width: 12.5rem;
    margin-right: 30px;
    height: 12.5rem;
    border-radius: 50%;
    box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.52);
}
.perfil img{

}

.dados{
    background-color: antiquewhite;
    width: 21.875rem;
    height: 10.625rem;
    border-radius: 1.25rem;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.orcamento{
    background-image: url(assets/img/fundoHeader.jpeg);
    background-color: #2831D6;
    width: 31.25rem;
    height: 9.375rem;
    border-radius: 1.875rem 0 0 1.875rem;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sub-orcamento{
    background-color: #2831D6;
    width:30.625rem;
    height: 8.125rem;
    border-radius: 20px 0 0 20px;
    border: 2px solid black;
    margin: 10px 0;   
}

.artes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.left{
    background-color: #2831D6;
    width: 15.625rem;
    height: 9.375rem;
    border-radius: 0 20px  20px 0 ;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.publicacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
    width: 60%;
    height: 9.375rem;
    border-radius: 30px;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.publicacao div{
    width: 15.625rem;
    height: 8.125rem;
    margin: 0.625rem;
    border-radius: 1.25rem;
    background-color: rgb(255, 255, 255);
}
.publicacao img{
    width: 300px;
    height: 300px;
}
.right{
    background-color: #2831D6;
    width: 15.625rem;
    height: 9.375rem;
    border-radius: 1.25rem 0  0 1.25rem;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
}
.redes{
    display: flex;
    justify-content: center;
    align-items:center;
}

.redes img{
    width: 2.25rem;
    margin: 0.625rem;
}
.img{
    width: 2.25rem;
    margin: 0.625rem;
}


@media (max-width:500px) {
    body{
        height: calc(100vh - 5rem);
        background-repeat: no-repeat;
        background-size: auto 80vh;
        background-color: #2831D6;
        padding-bottom: 30px;
    }
    .header{
      height: 5rem;
    }
    .logo{
        width:100%;
        padding: 0.625rem;
        height: 25rem;
        object-fit: cover;
        display: block;
    }
    main{
       
    }
    .sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 0.625rem;
    }
    .dados{
        width: 90%;
    }
    .info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;

    }
    .perfil{
        margin-right: 0;
        margin-top: 1.875rem;
        margin-bottom:  1.875rem;
        height: 9.375rem;
        width: 9.375rem;
    }
    .orcamento{
        height: 9.375rem;
        border-radius: 1.875rem 0 0 1.875rem;
        width: 90%;
        border-radius: 1.25rem;
        margin-top: 1.25rem;
        justify-content: center;
        margin-bottom: 10px;
    }
    .sub-orcamento{
        width: 95%;
        height: auto;
        border-radius: 1.25rem;
        padding: 0.313rem;
    }
    .artes{
        display: none;
    }

}

