*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: url(assets/img/fundoMain.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #2831D6;
    height: calc(100vh - 6.25rem);
}

header{
    width: 100%;
    height: 6.25rem;
    background-image: url(assets/img/fundoHeader.jpeg);
    background-color: #2831D6;
}

.logo{
    display: block;
    width: 50rem;
    margin: auto;
}
main{

}

.text-sub{
    background-color:#2831D6;
    font-size: 1.2rem;
    font-weight: 600;
}
.sobre{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 55px;
    height: 12.5rem;

}
.info{
    display: flex;
    margin-left: 12.5rem;
    align-items: center;
    justify-content: center;
}
.perfil{
    width: 12.5rem;
    margin-right: 30px;
    height: 12.5rem;
    border-radius: 50%;

}
.perfil img{

}

.dados{
    display: flex;
    background-color: antiquewhite;
    width: 22.0rem;
    height: auto;
    border-radius: 1.25rem;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);
    font-size: 1.1rem;
    font-weight: 500;
}
.reto:nth-child(1){
    align-self: flex-start;
    margin-right: 8px;
}
.reto{
    align-self: flex-end;
    width: 15px;
    height: 50px;
    background-color: #FC97BE;
}

.orcamento{
    background-image: url(assets/img/fundoHeader.jpeg);
    background-color: #2831D6;
    width: 31.25rem;
    height: 9.375rem;
    border-radius: 1.875rem 0 0 1.875rem;
    box-shadow: -4px 4px 11px -1px rgba(0,0,0,0.52);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.sub-orcamento{
    background-color: #2831D6;
    width:30.625rem;
    height: 8.125rem;
    border-radius: 20px 0 0 20px;
    
    margin: 10px 0;   
}

.artes{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 7rem;
} 

.left{
    background-image: url(assets/img/BARRA-LATERAL-ESQUERDA.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 11.25rem;
    width: 11.25rem;
    height: 9.375rem;

}
.publicacao{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: antiquewhite;
    width: 70%;
    height: 9.375rem;
    border-radius: 30px;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);

}
.publicacao div{
    width: 135px;
    height:135px;
    margin: 0.625rem;
    border-radius: 1.25rem;
    box-shadow: 5px 4px 11px -1px rgba(0,0,0,0.52);
  
}
.publicacao img{
    width: 100%;
    
}
.right{
    background-image: url(assets/img/LATERAL-DIREITA-BAIXO.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 11.25rem;
    width: 11.25rem;
    height: 9.375rem;
}
.redes{
    display: flex;
    justify-content: center;
    align-items:center;
}
.barra{
    background-color: #FC97BE;
    width: 3px;
    height: 100px;
    margin: auto;

}

.redes img{
    width: 2.25rem;
    margin: 0.625rem;
}
.img{
    width: 2.25rem;
    margin: 0.625rem;
}


@media (max-width:700px) {
    body{
        height: calc(100vh - 5rem);
        background-repeat: no-repeat;
        background-size: auto 85vh;
        background-color: #2831D6;
        padding-bottom: 30px;
    }
    .header{
      height: 5rem;
    }
    .logo{
        width:100%;
        padding: 0.625rem;
        height: 25rem;
        object-fit: cover;
        display: block;
    }
    main{
       
    }
    .text-sub{
        font-size: 1rem;
        
    }
    .sobre{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
        margin-top: 0.625rem;
    }
    .dados{
        width: 90%;
    }
    .info{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;

    }
    .perfil{
        margin-right: 0;
        margin-top: 1.875rem;
        margin-bottom:  1.875rem;
        height: 9.375rem;
        width: 9.375rem;
    }
    .perfil img{
        width: 170px;
    }
    .orcamento{
        height: 9.375rem;
        border-radius: 1.875rem 0 0 1.875rem;
        width: 90%;
        border-radius: 1.25rem;
        margin-top: 1.25rem;
        justify-content: center;
        margin-bottom: 10px;
        box-shadow: 4px 4px 11px -1px rgba(0,0,0,0.52);
    }
    .sub-orcamento{
        width: 95%;
        height: auto;
        border-radius: 1.25rem;
        padding: 0.313rem;
    }
    .barra{
        margin-left: 4.7px;
       margin-right:4.7px;
    
    }
  
    .artes{
        display: none;
    }
    footer p {
        font-size: 1rem !important;
    }
    .acess{
        
        color: white !important;
    }

}

